{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Produto
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">

      {% include "components/page_header.html" with title="Editar" icon="bx bx-package" parent="Produtos" %}

      <div class="col-xl">
        {% url 'produtos:produtos' as cancel_url %}
        {% include "components/form_card.html" with form=form card_title="Produto" card_icon="bx bx-package" submit_label="Salvar" submit_perm="produtos.change_produto" cancel_url=cancel_url %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
