{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Tipo
{% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% include "components/page_header.html" with title="Editar" icon="bx bx-category" parent="Tipos" %}
  <div class="row">
    <div class="col-xl-8">
      {% url 'produtos:tipos' as cancel_url %}
      {% include "components/form_card.html" with form=form card_title="Tipo" card_icon="bx bx-category" submit_label="Salvar" submit_perm="produtos.change_tipoproduto" cancel_url=cancel_url %}
    </div>
  </div>
</div>

{% endblock %}