{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Estado
{% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% include "components/page_header.html" with title="Editar" icon="bx bx-info-circle" parent="Estados" %}
  <div class="row">
    <div class="col-xl-8">
      {% url 'produtos:estados' as cancel_url %}
      {% include "components/form_card.html" with form=form card_title="Estado" card_icon="bx bx-info-circle" submit_label="Salvar" submit_perm="produtos.change_estadoproduto" cancel_url=cancel_url %}
    </div>
  </div>
</div>

{% endblock %}