{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Gasto Fixo
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  {% include "components/page_header.html" with title="Editar" parent="Gasto Fixo" icon="bx bx-money" %}
  {% url 'financeiro:gasto_fixo_list' as gasto_fixo_list_url %}
  {% include "components/form_card.html" with form=form card_title="Gasto Fixo" card_icon="bx bx-money" submit_label="Salvar" submit_perm="fincaneiro.change_gastofixo" cancel_url=gasto_fixo_list_url %}
</div>

{% endblock %}
