{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Tipo pagamento
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  {% url 'vendas:tipopagamento_list' as tipopag_list_url %}
  {% include "components/page_header.html" with title="Editar" parent="Tipo de Pagamento" icon="bx bx-credit-card" %}
  <div class="row">
    <div class="col-12 col-lg-8">
      {% include "components/form_card.html" with form=form card_title="Tipo de Pagamento" card_icon="bx bx-credit-card" submit_label="Salvar" submit_perm="vendas.change_tipopagamento" cancel_url=tipopag_list_url %}
    </div>
  </div>
</div>

{% endblock %}
