{% extends "base.html" %}
{% load static iam_tags crispy_forms_tags %}
{% block title %}
Detalhes do Tipo pagamento
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  {% include "components/page_header.html" with title="Detalhes" parent="Tipo de Pagamento" icon="bx bx-credit-card" %}
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="card shadow-sm border-0">
        <div class="card-header">
          <h5 class="mb-0 d-flex align-items-center"><i class="bx bx-credit-card me-2 text-primary"></i>Tipo de Pagamento</h5>
        </div>
        <div class="card-body">
          {{ form|crispy }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
