{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Parcelamento
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">

      {% include "components/page_header.html" with title="Editar" icon="bx bx-credit-card" parent="Parcelamentos" %}

      <div class="col-xl-6">
        {% url 'produtos:parcelamentos' as cancel_url %}
        {% include "components/form_card.html" with form=form card_title="Parcelamento (iPhone)" card_icon="bx bx-credit-card" submit_label="Salvar" submit_perm="produtos.change_parcelamento" cancel_url=cancel_url %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
