{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Memória
{% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% include "components/page_header.html" with title="Memória" icon="bx bx-microchip" subtitle="Catálogo de memórias de produtos" %}

  {% include "components/card_table_open.html" with title="Memória" icon="bx bx-microchip" count=page_obj.paginator.count %}
    <div class="d-flex justify-content-end mb-3">
      <form action="" method="get" id="searchForm" class="d-inline-block">
        <input type="text" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Pesquisar" onchange="document.getElementById('searchForm').submit()">
      </form>
      {% if user|has_perm:"produtos.add_memoriaproduto" %}
      <a href="{% url 'produtos:memoria_create' %}" class="btn btn-primary ms-2">
        <i class="bx bx-plus me-1"></i> Adicionar Memória
      </a>
      {% endif %}
    </div>
    <table class="table table-hover align-middle mb-0">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col" class="text-end">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for memoria in items %}
        <tr>
          <td>{{ memoria.nome }}</td>
          <td class="text-end">
            {% include "components/action_menu_open.html" %}
              {% if user|has_perm:"produtos.view_memoriaproduto" %}
              <li><a class="dropdown-item" href="{% url 'produtos:memoria_detail' memoria.id %}">
                <i class="bx bx-show me-1"></i> Detalhes
              </a></li>
              {% endif %}
              {% if user|has_perm:"produtos.change_memoriaproduto" %}
              <li><a class="dropdown-item" href="{% url 'produtos:memoria_update' memoria.id %}">
                <i class="bx bx-edit-alt me-1"></i> Editar
              </a></li>
              {% endif %}
            {% include "components/action_menu_close.html" %}
          </td>
        </tr>
        {% empty %}
        {% include "components/empty_state.html" with colspan=2 message="Nenhuma memória encontrada" icon="bx bx-microchip" %}
        {% endfor %}
      </tbody>
    </table>
    {% include "snippets/pagination.html" %}
  {% include "components/card_table_close.html" %}
</div>

{% endblock %}