{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Criar Memória
{% endblock title %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
  {% include "components/page_header.html" with title="Criar" icon="bx bx-microchip" parent="Memória" %}
  <div class="row">
    <div class="col-xl-8">
      {% url 'produtos:memorias' as cancel_url %}
      {% include "components/form_card.html" with form=form card_title="Memória" card_icon="bx bx-microchip" submit_label="Salvar" submit_perm="produtos.add_memoriaproduto" cancel_url=cancel_url %}
    </div>
  </div>
</div>

{% endblock %}