{% extends "base.html" %}
{% load static iam_tags %}
{% block title %}
Editar Marca
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">

      {% include "components/page_header.html" with title="Editar" icon="bx bx-purchase-tag" parent="Marca" %}

      <div class="col-xl">
        {% url 'produtos:marcas' as cancel_url %}
        {% include "components/form_card.html" with form=form card_title="Marca" card_icon="bx bx-purchase-tag" submit_label="Salvar" submit_perm="produtos.change_marca" cancel_url=cancel_url %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_scripts %}
{{ form.media.js }}
{% endblock %}
