{% extends "base.html" %}
{% block title %}
Detalhes Marca
{% endblock title %}

{% block content %}

<div class="container-xxl mt-4">
  <div class="row">
    <div class="col-12">

      {% include "components/page_header.html" with title="Detalhes" icon="bx bx-purchase-tag" parent="Marca" %}

      <div class="col-xl">
        <div class="card shadow-sm border-0 mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0 d-flex align-items-center"><i class="bx bx-purchase-tag me-2 text-primary"></i>Marca</h5>
          </div>
          <div class="card-body">
            {{ form.as_p }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
